# --- Python (Bytecode e Cache) ---
__pycache__/
*.py[cod]
*$py.class

# --- Ambientes Virtuais (VENV) ---
venv/
.venv/
env/
ENV/

# --- DADOS MASSIVOS (CRÍTICO) ---
# Ignora arquivos pesados de dados em qualquer pasta
*.csv
*.zip
*.parquet
*.json.gz

# Se você tiver algum CSV pequeno de configuração que PRECISE subir, 
# você pode forçar a adição dele depois com 'git add -f arquivo.csv'

# --- Docker & Volumes de Dados ---
**/volumes/
ApacheDruid/volumes/
metadata_data/
middle_var/
historical_var/
broker_var/
coordinator_var/
router_var/
druid_shared/

# --- Logs ---
*.log
logs/
ApacheKafka/logs/
*.out

# --- IDEs e Sistema Operacional ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Arquivos Temporários ---
*.aux
*.toc
~$*

data/
venv/
__pycache__/