# ==========================================
# PYTHON E CACHE
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# ==========================================
# AMBIENTES VIRTUAIS
# ==========================================
venv/
.venv/
env/
ENV/

# ==========================================
# DADOS MASSIVOS E CONTROLE DE ESTADO (CRÍTICO)
# ==========================================
# Ignora datasets pesados
*.csv
*.zip
*.parquet
*.json.gz

# Ignora a pasta de dados brutos completamente
data/raw/

# Ignora o arquivo de controle de estado do produtor Kafka
checkpoint_ingestao.txt
data/raw/checkpoint_ingestao.txt

# ==========================================
# VOLUMES DOCKER (INFRAESTRUTURA)
# ==========================================
metadata_data/
middle_var/
historical_var/
broker_var/
coordinator_var/
router_var/
druid_shared/
**/volumes/

# ==========================================
# LOGS E TEMPORÁRIOS
# ==========================================
*.log
logs/
*.out
.DS_Store
Thumbs.db
~$*

# ==========================================
# IDEs E EDITORES
# ==========================================
.vscode/
.idea/